<?xml version="1.0" encoding="UTF-8"?>
<deploy
 date="2019.03.27.00:44:29"
 outputDirectory="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/">
 <perimeter>
  <parameter
     name="AUTO_GENERATION_ID"
     type="Integer"
     defaultValue="0"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_UNIQUE_ID"
     type="String"
     defaultValue=""
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_DEVICE_FAMILY"
     type="String"
     defaultValue="Cyclone IV E"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_DEVICE"
     type="String"
     defaultValue="EP4CE115F29C7"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_DEVICE_SPEEDGRADE"
     type="String"
     defaultValue="7"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_CLK_CLOCK_RATE"
     type="Long"
     defaultValue="-1"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_CLK_CLOCK_DOMAIN"
     type="Integer"
     defaultValue="-1"
     onHdl="0"
     affectsHdl="1" />
  <parameter
     name="AUTO_CLK_RESET_DOMAIN"
     type="Integer"
     defaultValue="-1"
     onHdl="0"
     affectsHdl="1" />
  <interface name="clk" kind="clock" start="0">
   <property name="clockRate" value="50000000" />
   <property name="externallyDriven" value="false" />
   <property name="ptfSchematicName" value="" />
   <port name="clk_clk" direction="input" role="clk" width="1" />
  </interface>
  <interface name="reset_n" kind="reset" start="0">
   <property name="associatedClock" value="" />
   <property name="synchronousEdges" value="NONE" />
   <port name="reset_n_reset_n" direction="input" role="reset_n" width="1" />
  </interface>
  <interface name="sdram" kind="avalon" start="0">
   <property name="addressAlignment" value="DYNAMIC" />
   <property name="addressGroup" value="0" />
   <property name="addressSpan" value="134217728" />
   <property name="addressUnits" value="WORDS" />
   <property name="alwaysBurstMaxBurst" value="false" />
   <property name="associatedClock" value="clk" />
   <property name="associatedReset" value="reset_n" />
   <property name="bitsPerSymbol" value="8" />
   <property name="bridgedAddressOffset" value="0" />
   <property name="bridgesToMaster" value="" />
   <property name="burstOnBurstBoundariesOnly" value="false" />
   <property name="burstcountUnits" value="WORDS" />
   <property name="constantBurstBehavior" value="false" />
   <property name="explicitAddressSpan" value="0" />
   <property name="holdTime" value="0" />
   <property name="interleaveBursts" value="false" />
   <property name="isBigEndian" value="false" />
   <property name="isFlash" value="false" />
   <property name="isMemoryDevice" value="true" />
   <property name="isNonVolatileStorage" value="false" />
   <property name="linewrapBursts" value="false" />
   <property name="maximumPendingReadTransactions" value="7" />
   <property name="maximumPendingWriteTransactions" value="0" />
   <property name="minimumUninterruptedRunLength" value="1" />
   <property name="printableDevice" value="false" />
   <property name="readLatency" value="0" />
   <property name="readWaitStates" value="1" />
   <property name="readWaitTime" value="1" />
   <property name="registerIncomingSignals" value="false" />
   <property name="registerOutgoingSignals" value="false" />
   <property name="setupTime" value="0" />
   <property name="timingUnits" value="Cycles" />
   <property name="transparentBridge" value="false" />
   <property name="wellBehavedWaitrequest" value="false" />
   <property name="writeLatency" value="0" />
   <property name="writeWaitStates" value="0" />
   <property name="writeWaitTime" value="0" />
   <port name="sdram_address" direction="input" role="address" width="25" />
   <port
       name="sdram_byteenable_n"
       direction="input"
       role="byteenable_n"
       width="4" />
   <port name="sdram_chipselect" direction="input" role="chipselect" width="1" />
   <port name="sdram_writedata" direction="input" role="writedata" width="32" />
   <port name="sdram_read_n" direction="input" role="read_n" width="1" />
   <port name="sdram_write_n" direction="input" role="write_n" width="1" />
   <port name="sdram_readdata" direction="output" role="readdata" width="32" />
   <port
       name="sdram_readdatavalid"
       direction="output"
       role="readdatavalid"
       width="1" />
   <port
       name="sdram_waitrequest"
       direction="output"
       role="waitrequest"
       width="1" />
  </interface>
  <interface name="sdram_wire" kind="conduit" start="0">
   <property name="associatedClock" value="" />
   <property name="associatedReset" value="" />
   <port name="sdram_wire_addr" direction="output" role="addr" width="13" />
   <port name="sdram_wire_ba" direction="output" role="ba" width="2" />
   <port name="sdram_wire_cas_n" direction="output" role="cas_n" width="1" />
   <port name="sdram_wire_cke" direction="output" role="cke" width="1" />
   <port name="sdram_wire_cs_n" direction="output" role="cs_n" width="1" />
   <port name="sdram_wire_dq" direction="bidir" role="dq" width="32" />
   <port name="sdram_wire_dqm" direction="output" role="dqm" width="4" />
   <port name="sdram_wire_ras_n" direction="output" role="ras_n" width="1" />
   <port name="sdram_wire_we_n" direction="output" role="we_n" width="1" />
  </interface>
 </perimeter>
 <entity
   path=""
   parameterizationKey="system:1.0:AUTO_CLK_CLOCK_DOMAIN=-1,AUTO_CLK_CLOCK_RATE=-1,AUTO_CLK_RESET_DOMAIN=-1,AUTO_DEVICE=EP4CE115F29C7,AUTO_DEVICE_FAMILY=Cyclone IV E,AUTO_DEVICE_SPEEDGRADE=7,AUTO_GENERATION_ID=1553661866,AUTO_UNIQUE_ID=(clock_source:16.1:clockFrequency=50000000,clockFrequencyKnown=true,inputClockFrequency=0,resetSynchronousEdges=NONE)(altera_avalon_new_sdram_controller:16.1:TAC=5.5,TMRD=3,TRCD=20.0,TRFC=70.0,TRP=20.0,TWR=14.0,addressWidth=25,bankWidth=2,casLatency=3,clockRate=50000000,columnWidth=10,componentName=system_sdram,dataWidth=32,generateSimulationModel=false,initNOPDelay=0.0,initRefreshCommands=2,masteredTristateBridgeSlave=0,model=single_Micron_MT48LC4M32B2_7_chip,numberOfBanks=4,numberOfChipSelects=1,pinsSharedViaTriState=false,powerUpDelay=100.0,refreshPeriod=15.625,registerDataIn=true,rowWidth=13,size=134217728)(clock:16.1:)(reset:16.1:)"
   instancePathKey="system"
   kind="system"
   version="1.0"
   name="system">
  <parameter name="AUTO_CLK_CLOCK_RATE" value="-1" />
  <parameter name="AUTO_GENERATION_ID" value="1553661866" />
  <parameter name="AUTO_DEVICE" value="EP4CE115F29C7" />
  <parameter name="AUTO_DEVICE_FAMILY" value="Cyclone IV E" />
  <parameter name="AUTO_CLK_RESET_DOMAIN" value="-1" />
  <parameter name="AUTO_CLK_CLOCK_DOMAIN" value="-1" />
  <parameter name="AUTO_UNIQUE_ID" value="" />
  <parameter name="AUTO_DEVICE_SPEEDGRADE" value="7" />
  <generatedFiles>
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/system.v"
       type="VERILOG" />
  </generatedFiles>
  <childGeneratedFiles>
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/system_sdram.v"
       type="VERILOG"
       attributes="" />
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_controller.v"
       type="VERILOG"
       attributes="" />
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_synchronizer.v"
       type="VERILOG"
       attributes="" />
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_controller.sdc"
       type="SDC"
       attributes="" />
  </childGeneratedFiles>
  <sourceFiles>
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system.qsys" />
  </sourceFiles>
  <childSourceFiles>
   <file
       path="C:/intelfpga_lite/16.1/ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller/altera_avalon_new_sdram_controller_hw.tcl" />
   <file
       path="C:/intelfpga_lite/16.1/ip/altera/merlin/altera_reset_controller/altera_reset_controller_hw.tcl" />
  </childSourceFiles>
  <messages>
   <message level="Debug" culprit="system">queue size: 0 starting:system "system"</message>
   <message level="Progress" culprit="min"></message>
   <message level="Progress" culprit="max"></message>
   <message level="Progress" culprit="current"></message>
   <message level="Debug">Transform: CustomInstructionTransform</message>
   <message level="Debug">No custom instruction connections, skipping transform </message>
   <message level="Debug" culprit="merlin_custom_instruction_transform"><![CDATA[After transform: <b>2</b> modules, <b>2</b> connections]]></message>
   <message level="Debug">Transform: MMTransform</message>
   <message level="Debug">Transform: InterruptMapperTransform</message>
   <message level="Debug">Transform: InterruptSyncTransform</message>
   <message level="Debug">Transform: InterruptFanoutTransform</message>
   <message level="Debug">Transform: AvalonStreamingTransform</message>
   <message level="Debug">Transform: ResetAdaptation</message>
   <message level="Progress" culprit="min"></message>
   <message level="Progress" culprit="max"></message>
   <message level="Progress" culprit="current"></message>
   <message level="Debug" culprit="reset_adaptation_transform"><![CDATA[After transform: <b>3</b> modules, <b>4</b> connections]]></message>
   <message level="Debug" culprit="system"><![CDATA["<b>system</b>" reuses <b>altera_avalon_new_sdram_controller</b> "<b>submodules/system_sdram</b>"]]></message>
   <message level="Debug" culprit="system"><![CDATA["<b>system</b>" reuses <b>altera_reset_controller</b> "<b>submodules/altera_reset_controller</b>"]]></message>
   <message level="Debug" culprit="system">queue size: 1 starting:altera_avalon_new_sdram_controller "submodules/system_sdram"</message>
   <message level="Info" culprit="sdram">Starting RTL generation for module 'system_sdram'</message>
   <message level="Info" culprit="sdram">  Generation command is [exec C:/intelfpga_lite/16.1/quartus/bin64/perl/bin/perl.exe -I C:/intelfpga_lite/16.1/quartus/bin64/perl/lib -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin/europa -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin/perl_lib -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin -I C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/common -I C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller -- C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller/generate_rtl.pl --name=system_sdram --dir=C:/Users/seanv/AppData/Local/Temp/alt7982_5590020237658822178.dir/0001_sdram_gen/ --quartus_dir=C:/intelfpga_lite/16.1/quartus --verilog --config=C:/Users/seanv/AppData/Local/Temp/alt7982_5590020237658822178.dir/0001_sdram_gen//system_sdram_component_configuration.pl  --do_build_sim=0  ]</message>
   <message level="Info" culprit="sdram">Done RTL generation for module 'system_sdram'</message>
   <message level="Info" culprit="sdram"><![CDATA["<b>system</b>" instantiated <b>altera_avalon_new_sdram_controller</b> "<b>sdram</b>"]]></message>
   <message level="Debug" culprit="system">queue size: 0 starting:altera_reset_controller "submodules/altera_reset_controller"</message>
   <message level="Info" culprit="rst_controller"><![CDATA["<b>system</b>" instantiated <b>altera_reset_controller</b> "<b>rst_controller</b>"]]></message>
  </messages>
 </entity>
 <entity
   path="submodules/"
   parameterizationKey="altera_avalon_new_sdram_controller:16.1:TAC=5.5,TMRD=3,TRCD=20.0,TRFC=70.0,TRP=20.0,TWR=14.0,addressWidth=25,bankWidth=2,casLatency=3,clockRate=50000000,columnWidth=10,componentName=system_sdram,dataWidth=32,generateSimulationModel=false,initNOPDelay=0.0,initRefreshCommands=2,masteredTristateBridgeSlave=0,model=single_Micron_MT48LC4M32B2_7_chip,numberOfBanks=4,numberOfChipSelects=1,pinsSharedViaTriState=false,powerUpDelay=100.0,refreshPeriod=15.625,registerDataIn=true,rowWidth=13,size=134217728"
   instancePathKey="system:.:sdram"
   kind="altera_avalon_new_sdram_controller"
   version="16.1"
   name="system_sdram">
  <parameter name="registerDataIn" value="true" />
  <parameter name="casLatency" value="3" />
  <parameter name="refreshPeriod" value="15.625" />
  <parameter name="masteredTristateBridgeSlave" value="0" />
  <parameter name="TMRD" value="3" />
  <parameter name="pinsSharedViaTriState" value="false" />
  <parameter name="clockRate" value="50000000" />
  <parameter name="TRP" value="20.0" />
  <parameter name="numberOfChipSelects" value="1" />
  <parameter name="columnWidth" value="10" />
  <parameter name="componentName" value="system_sdram" />
  <parameter name="TRFC" value="70.0" />
  <parameter name="generateSimulationModel" value="false" />
  <parameter name="dataWidth" value="32" />
  <parameter name="rowWidth" value="13" />
  <parameter name="bankWidth" value="2" />
  <parameter name="powerUpDelay" value="100.0" />
  <parameter name="TWR" value="14.0" />
  <parameter name="size" value="134217728" />
  <parameter name="TAC" value="5.5" />
  <parameter name="initRefreshCommands" value="2" />
  <parameter name="TRCD" value="20.0" />
  <parameter name="initNOPDelay" value="0.0" />
  <parameter name="addressWidth" value="25" />
  <parameter name="numberOfBanks" value="4" />
  <generatedFiles>
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/system_sdram.v"
       type="VERILOG"
       attributes="" />
  </generatedFiles>
  <childGeneratedFiles/>
  <sourceFiles>
   <file
       path="C:/intelfpga_lite/16.1/ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller/altera_avalon_new_sdram_controller_hw.tcl" />
  </sourceFiles>
  <childSourceFiles/>
  <instantiator instantiator="system" as="sdram" />
  <messages>
   <message level="Debug" culprit="system">queue size: 1 starting:altera_avalon_new_sdram_controller "submodules/system_sdram"</message>
   <message level="Info" culprit="sdram">Starting RTL generation for module 'system_sdram'</message>
   <message level="Info" culprit="sdram">  Generation command is [exec C:/intelfpga_lite/16.1/quartus/bin64/perl/bin/perl.exe -I C:/intelfpga_lite/16.1/quartus/bin64/perl/lib -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin/europa -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin/perl_lib -I C:/intelfpga_lite/16.1/quartus/sopc_builder/bin -I C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/common -I C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller -- C:/intelfpga_lite/16.1/quartus/../ip/altera/sopc_builder_ip/altera_avalon_new_sdram_controller/generate_rtl.pl --name=system_sdram --dir=C:/Users/seanv/AppData/Local/Temp/alt7982_5590020237658822178.dir/0001_sdram_gen/ --quartus_dir=C:/intelfpga_lite/16.1/quartus --verilog --config=C:/Users/seanv/AppData/Local/Temp/alt7982_5590020237658822178.dir/0001_sdram_gen//system_sdram_component_configuration.pl  --do_build_sim=0  ]</message>
   <message level="Info" culprit="sdram">Done RTL generation for module 'system_sdram'</message>
   <message level="Info" culprit="sdram"><![CDATA["<b>system</b>" instantiated <b>altera_avalon_new_sdram_controller</b> "<b>sdram</b>"]]></message>
  </messages>
 </entity>
 <entity
   path="submodules/"
   parameterizationKey="altera_reset_controller:16.1:ADAPT_RESET_REQUEST=0,MIN_RST_ASSERTION_TIME=3,NUM_RESET_INPUTS=1,OUTPUT_RESET_SYNC_EDGES=deassert,RESET_REQUEST_PRESENT=0,RESET_REQ_EARLY_DSRT_TIME=1,RESET_REQ_WAIT_TIME=1,SYNC_DEPTH=2,USE_RESET_REQUEST_IN0=0,USE_RESET_REQUEST_IN1=0,USE_RESET_REQUEST_IN10=0,USE_RESET_REQUEST_IN11=0,USE_RESET_REQUEST_IN12=0,USE_RESET_REQUEST_IN13=0,USE_RESET_REQUEST_IN14=0,USE_RESET_REQUEST_IN15=0,USE_RESET_REQUEST_IN2=0,USE_RESET_REQUEST_IN3=0,USE_RESET_REQUEST_IN4=0,USE_RESET_REQUEST_IN5=0,USE_RESET_REQUEST_IN6=0,USE_RESET_REQUEST_IN7=0,USE_RESET_REQUEST_IN8=0,USE_RESET_REQUEST_IN9=0,USE_RESET_REQUEST_INPUT=0"
   instancePathKey="system:.:rst_controller"
   kind="altera_reset_controller"
   version="16.1"
   name="altera_reset_controller">
  <generatedFiles>
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_controller.v"
       type="VERILOG"
       attributes="" />
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_synchronizer.v"
       type="VERILOG"
       attributes="" />
   <file
       path="E:/OneDrive/Documents/University/Class_Work_Year_3/CSCB58H3/Project/Project2/system/synthesis/submodules/altera_reset_controller.sdc"
       type="SDC"
       attributes="" />
  </generatedFiles>
  <childGeneratedFiles/>
  <sourceFiles>
   <file
       path="C:/intelfpga_lite/16.1/ip/altera/merlin/altera_reset_controller/altera_reset_controller_hw.tcl" />
  </sourceFiles>
  <childSourceFiles/>
  <instantiator instantiator="system" as="rst_controller" />
  <messages>
   <message level="Debug" culprit="system">queue size: 0 starting:altera_reset_controller "submodules/altera_reset_controller"</message>
   <message level="Info" culprit="rst_controller"><![CDATA["<b>system</b>" instantiated <b>altera_reset_controller</b> "<b>rst_controller</b>"]]></message>
  </messages>
 </entity>
</deploy>
